* {
  font-family: "Gantari", sans-serif;
  box-sizing: border-box;
}

:root {
  --baseText: #ffebcd;
  --fieldText: #27221b;
  --baseBackground: #474035;
  --backgroundDark: #291c0a;
  --baseFooterLink: #cc811f;
  --visitedFooterLink: #a36911;
  --hoverFooterLink: #f7971b;
  --navHoverLink: #c5b49b;
  --tableBackground: #271b0a;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--baseBackground);
}

nav {
  background-color: var(--backgroundDark);
  padding-top: 0.06em;
}

.nav--title {
  font-size: 250%;
  color: var(--baseText);
  text-decoration: none;
}

.nav--search {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  color: var(--baseText);
  padding: 0.3em;
}

.nav--search-field {
  margin-left: 0.2em;
  font-weight: bold;
  color: var(--fieldText);
}

.nav--about {
  margin-left: 0.6em;
}

.nav--random {
  margin-left: 0.6em;
}

.pricegraph--title {
  color: var(--baseText);
  text-align: center;
  font-size: 1.5em;
  margin: 0.3em;
  padding-top: 5em;
}

.pricegraph--graph {
  display: flex;
  margin: auto;
  width: 600px;
}

.volumegraph--title {
  color: var(--baseText);
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  padding-top: 1.8em;
}

.volumegraph--graph {
  display: flex;
  margin: auto;
  width: 600px;
  padding-bottom: 0.85em;
}

.footer--main {
  display: flex;
  background-color: var(--fieldText);
  color: var(--baseText);
  justify-content: center;
  font-size: 1.2em;
  width: 100%;
  margin-top: auto;
  padding: 0.06em;
  position: relative;
}

.footer--link {
  padding-right: 0.25em;
}

.footer--link:link {
  color: var(--baseFooterLink);
}

.footer--link:visited {
  color: var(--visitedFooterLink);
}

.footer--link:hover {
  color: var(--hoverFooterLink);
}

.nav--link {
  margin-left: 0.6em;
  text-decoration: none;
}

.nav--link:link {
  color: var(--baseText);
}

.nav--link:visited {
  color: var(--baseText);
}

.nav--link:hover {
  color: var(--navHoverLink);
}

.product--list--table{
  margin: auto;
  width: 90%;
  color: var(--baseText);
  border: solid black 0.125em;
  background-color: var(--tableBackground);
  border-radius: 0.55em;
  padding: 0.2em;
}

.product--list--table tbody tr td a {
  color: var(--baseText);
  text-decoration: none;
}

.product--list--table tbody tr td a:hover {
  color: var(--navHoverLink);
  text-decoration: none;
}

.product--list--table tbody tr td{
  text-align: center;
  background-color: var(--baseBackground);
}

.page {
  text-align: center;
  color: var(--baseText);
  padding-bottom: 2em;
}

h2 {
  font-weight: normal;
  color: var(--baseText);
}

#about--section {
  padding-top: 1.5em;
  margin: auto;
  max-width: 70%;
}

.product--list--count {
  margin-bottom: 0.5em;
}

.product {
  color: var(--baseText);
  text-align: center;
}

.product--head {
  display: flex;
  justify-content: center;
  gap: 0.7em;
}

.product--head div {
  display: flex;
  flex-direction: row;
}

.product--image {
  align-self: center;
}

.product--id {
  font-size: 80%;
  margin-top: 2.22em;
  margin-left: 0.35em;
}

.product--buylimit {
  padding-right: 3.7em;
}

.product--stats {
  padding-top: 3.7em;
  padding-left: 1.4em;
  padding-right: 1.4em;
}

.product--examine--text {
  text-decoration: wavy;
}

#low--stats {
  padding-top: 2.3em;
}

.graph--data {
  display: flex;
  justify-content: center;
  margin-top: 1.6em;
  margin-left: -6.5em;
}
