* {
  font-family: "Gantari", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(71, 64, 53);
}

nav {
  background-color: rgb(41, 28, 10);
  padding-top: 0.06em;
}

.nav--title {
  font-size: 250%;
  color:blanchedalmond;
  text-decoration: none;
}

.nav--search {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  color: blanchedalmond;
  padding: 0.3em;
}

.nav--search-field {
  margin-left: 0.2em;
  font-weight: bold;
  color:rgb(39, 34, 27);
}

.nav--about {
  margin-left: 0.6em;
}

.nav--random {
  margin-left: 0.6em;
}

.pricegraph--title {
  color: blanchedalmond;
  text-align: center;
  font-size: 1.5em;
  margin: 0.3em;
  padding-top: 5em;
}

.pricegraph--graph {
  display: flex;
  margin: auto;
  width: 600px;
}

.volumegraph--title {
  color: blanchedalmond;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  padding-top: 1.8em;
}

.volumegraph--graph {
  display: flex;
  margin: auto;
  width: 600px;
  padding-bottom: 0.85em;
}

.footer--main {
  display: flex;
  background-color: rgb(39, 34, 27);
  color: blanchedalmond;
  justify-content: center;
  font-size: 1.2em;
  bottom: 0;
  width: 100%;
  margin-top: 1.25em;
  padding: 0.06em;
}

.footer--link {
  padding-right: 0.25em;
}

.footer--link:link {
  color:rgb(204, 129, 31);
}

.footer--link:visited {
  color:rgb(163, 105, 17);
}

.footer--link:hover {
  color: rgb(247, 151, 27);
}

.nav--link {
  margin-left: 0.6em;
  text-decoration: none;
}

.nav--link:link {
  color:blanchedalmond;
}

.nav--link:visited {
  color: blanchedalmond;
}

.nav--link:hover {
  color: rgb(197, 180, 155);
}

.product--list--table{
  margin: auto;
  width: 90%;
  color: blanchedalmond;
  border: solid black 0.125em;
  background-color:rgb(39, 27, 10);
  border-radius: 0.55em;
  padding: 0.2em;
}

.product--list--table tbody tr td{
  text-align: center;
  background-color: rgb(71, 64, 53);
}

.page {
  text-align: center;
  color: blanchedalmond;
}

h2 {
  font-weight: normal;
  color: blanchedalmond;
}

#about--section {
  padding-top: 1.5em;
  margin: auto;
  max-width: 70%;
}

.product--list--count {
  margin-bottom: 0.5em;
}

.product {
  color: blanchedalmond;
  text-align: center;
}

.product--head {
  display: flex;
  justify-content: center;
  gap: 0.7em;
}

.product--head div {
  display: flex;
  flex-direction: row;
}

.product--image {
  align-self: center;
 /* width: 2em;
  height: 1.75em; */
}

.product--id {
  font-size: 80%;
  margin-top: 2.22em;
  margin-left: 0.35em;
}

.product--buylimit {
  padding-right: 3.7em;
}

.product--stats {
  padding-top: 3.7em;
  padding-left: 1.4em;
  padding-right: 1.4em;
}

.product--examine--text {
  text-decoration: wavy;
}

#low--stats {
  padding-top: 2.3em;
}

.graph--data {
  display: flex;
  justify-content: center;
  margin-top: 1.6em;
}
